{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}


{% block main %}
<h4>Platoon {{ plt }} History On {{ other_type }}</h4>
<table class="table" id="view_table">
    <thead>
        <tr>
            <th>{{ type }}</th>
            <th>Book In</th>
            <th>Book Out</th>
        </tr>
    </thead>
    <tbody>
        {% for x in data %}
        <tr>
            <td scope="row">{{ x[0] }}</td>
            <td>{{ x[1] }}</td>
            <td>{{ x[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
